@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Montserrat:wght@400;500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@keyframes pageUnveil {
  0% {
    opacity: 0.2;
    transform: translateY(-10vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pageUnveil2 {
  0% {
    opacity: 0.2;
    color: rgb(249, 63, 63);
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    color: #fff;
    transform: scaleY(1);
  }
}
@keyframes fromLeft {
  0% {
    opacity: 0.2;
    transform: translateX(-100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fromRight {
  0% {
    opacity: 0.2;
    transform: translateX(100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
html {
  scroll-behavior: smooth;
  /* animation: pageUnveil 400ms ease-in; */
}
body {
  max-height: fit-content;
  overflow-y: hidden;
  margin-bottom: 0;
}
.video_underlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 10;
}
.video_underlay iframe {
  width: 100%;
  height: 100%;
}
video[poster] {
  object-fit: cover;
}

section {
  width: 100vw;
  height: fit-content;
}
#sect1 {
  height: 100vh;
}
.navbar {
  position: relative;
  z-index: 200;
  color: #fff;
  background: #101010;
  padding: 18px 0;
  transition: all 0.5s ease-in-out;
}
.navbar:before,
.navbar:after {
  content: " ";
  display: table;
}
.navbar:after {
  clear: both;
}
.navbar.page-with-cover {
  position: fixed;
  width: 100vw;
  background: 0 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) 1%,
    rgba(0, 0, 0, 0) 100%
  );
  background-repeat: repeat-x;
}

.navbar .inner-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar-header {
  width: 37vw;
  margin-top: 2vh;
  transition: all 700ms ease-in;
  animation: fromLeft 800ms ease-in;
}
.navbar-collapse.collapse {
  width: 50vw;
  transition: all 1s ease-in;
  animation: pageUnveil 800ms ease-in;
}
.navbar.page-with-cover {
  background: #000;
}
.li-wrap {
  transition: all 1s ease-in;
  animation: pageUnveil2 800ms ease-in;
}
.fa-solid.fa-chevron-down {
  font-size: 5.5rem;
  color: #fff;
  width: 20vw;
  height: 20vh;
  margin-top: 35vh;
}
.story_slide {
  width: 101vw;
  position: relative;
  /* top: 270vh; */
  overflow-x: hidden;
  height: fit-content;
  /* z-index: 1000; */
}

.story_slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.story_msg {
  width: 100%;
  height: 100vh;
  position: relative;
  /* object-fit: contain; */
  background-color: #b4124e9e;
  backdrop-filter: saturate(0.5);
  top: -100vh;
  /* z-index: 1000; */
  /* object-fit: contain; */
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-align: center;
}
.each_msg {
  width: 100vw;
  height: 100vh;
  background: transparent;
  /* backdrop-filter: ; */
  position: relative;
  scroll-behavior: smooth;
  /* z-index: 4; */
}
.each_msg h1 {
  position: relative;
  top: 25%;
  left: 25%;
}
.each_msg button {
  position: relative;
  top: 30%;
}
.each_msg h1 {
  width: 50vw;

  text-align: center;
  font-size: 9.5rem;
  font-family: "Dosis";
  color: aqua;
}
.each_msg.msg1 {
  height: 100vh;
  top: -2%;
  position: relative;
  /* background-color: #b4124e9e; */
  /* backdrop-filter: saturate(0.5); */
}
.each_msg.msg2 {
  background-image: url("./img/MotionGraphicsB.jpeg");
  background-size: 100%;
  height: 100vh;
  margin-top: 5%;
}
.each_msg.msg2 h1 {
  color: #30e8dc;
}
.each_msg.msg3 {
  background: #fff;
  height: fit-content;
  width: 100vw;
  margin-top: -3.4vh;
}
.imgContainer {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  padding-top: 5vh;
  background-color: #000;
  /* justify-content: space-between; */
}
.vid_flex {
  width: 33.3%;
  height: 25vh;
  padding: 0;
  background-color: #000;
  vertical-align: top;
}
.imag {
  height: 40vh;
}
.imag img {
  object-fit: cover;
  height: 40vh;
}
.videosContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #000;
}

.video_box_class {
  width: 33.3%;
  height: 33vh;
  margin-bottom: 2%;
}
.overVid {
  position: inherit;
  z-index: 5;
  background-color: #000;
  margin-top: -33vh;
  height: 33vh;
}

.mousing:hover {
  filter: brightness(70%);
}
.showup {
  left: 10%;
  text-align: center;
  width: 80%;
  font-size: 1.5rem;
  opacity: 0;
  pointer-events: none; /* don’t block video clicks */
  position: absolute;
  transition: opacity 150ms linear;
  top: 55%; /* adjust "top" and "left" to taste */
  color: #fff;
  z-index: 4;
  transition: all 800ms ease-in-out;
  -webkit-transition: all 800ms;
}

.video_box_class {
  position: relative;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s;
}

.video_box_class:hover .mousing {
  /* filter: blur(1px); */
  z-index: 3;
}
.fa-solid.fa-circle-play {
  font-size: 5.3rem;
  top: 30%;
}
.video_box_class:hover .showup {
  opacity: 1;
  z-index: 4;
}
#videoAppendHere a {
  color: white;
  background-color: #30e8dc;
  padding: 1rem;
  text-align: center;
}
footer {
  position: relative;
  /* z-index: 1000; */
  height: fit-content;
  top: -90vh;
}
footer h4 {
  font-size: 2rem;
  font-weight: 200;
  margin-left: 4vw;
  margin-top: 5vh;
  letter-spacing: 9px;
  color: #fff;
}
.note_brand {
  width: 100vw;
  padding-inline: 5%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  top: 15vh;
}
.brands {
  width: 20%;
  margin-inline: 3%;
  margin-bottom: 2vh;
  object-fit: contain;
}
.aligncenter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60vw;
  height: fit-content;
  font-size: 15%;
}
.aligncenter li {
  font-size: 25%;
}
.widget_block,
.widget {
  margin-top: 60px;
}
.excerpt {
  width: 75vw;
}
#contact {
  width: 100vw;
  height: fit-content;
  background-color: #000;
  /* margin-left: 8vw; */
}
.cont_cont {
  width: 90%;
  height: 100%;
  margin-left: 5%;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  gap: 8vw;
  /* padding-inline: 5%; */
}
#contact label {
  font-size: 2.2rem;
  font-weight: 200;
  letter-spacing: 6px;
  margin-left: 7vw;
  padding-top: 3vh;
  color: #fff;
}
.buttono {
  width: 181px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-inline: 10px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-size: 80%;
  font-weight: 600;
  margin-left: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
}
.button-2 {
  color: #fff;
  border: 2px solid #ec290b;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(
    30deg,
    #ef3705 50%,
    transparent 50%
  );
  background-image: linear-gradient(30deg, #ca3535 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.button-2:hover {
  background-position: 100%;
  /* color: #c266d3; */
}
.buttono.button-2.blk:hover {
  color: #fff;
}

/* MObile Interface @media screen and (max-width: 420px) {*/
 
@media screen and (max-width: 420px) {
  .imgContainer,
  .videosContainer {
    justify-content: center;
  }
  .navbar-collapse.collapse {
    width: 30vw;
  }
  .navbar-toggle {
    display: block;
    position: absolute;
    float: right;
    margin: 0 0 0 15px;
    left: 80vw;
    color: #fff;
    font-size: 2.4rem;
    margin-right: 5vw;
    width: 40px;
    border-color: transparent;
    background: 0 0;
  }
  .sf-menu > li {
    font-size: 1.8rem;
    margin-bottom: 1.3vh;
  }
  #menu-menu-1 {
    transition: all 600ms ease-in-out;
    transform: translateX(50vw);
  }
  #closeit,
  #openit {
    transition: all 400ms ease-in-out;
    color: #fff;
  }
  #closeit {
    opacity: 0;
    position: relative;
    margin-left: -2vw;
  }
  .navbar-nav {
    position: absolute;
    left: 69vw;
    background-color: #000;
    top: 8vh;
    height: fit-content;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }
  .fa-solid.fa-chevron-down {
    margin-top: 15vh;
  }
  .missing-url {
    width: 90vw;
    margin-left: -2vw;
    margin-top: 10vh;
  }
  .excerpt {
    width: 60vw;
    margin: 0;
    margin-left: 12.5vw;
  }
  .vid_flex,
  .video_box_class {
    width: 90.3%;
    height: 33%;
  }
  .each_msg h1 {
    width: 70vw;
    left: 15vw;
    text-align: center;
    font-size: 4.5rem;
  }
  .each_msg.msg2 {
    background-size: cover;
  }
  .imag img {
    object-fit: cover;
    height: 33vh;
  }
  #toContact label {
    font-size: 1.8rem;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 3vh;
    margin: 0;
  }
  .cont_cont {
    flex-wrap: wrap;
    gap: 1vh;
  }
  .buttono {
    width: 50%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-inline: 2px;
    font-size: 70%;
    border-radius: 0;
  }
  footer h4 {
    font-size: 2rem;
    margin-left: 5vw;
    padding-inline: 3px;
    margin-top: 5vh;
    letter-spacing: 3px;
    width: 90vw;
    text-align: center;
    color: #fff;
  }
  .textwidget {
    padding-top: 3vh;
  }
}
@media screen and (max-width: 375px) {
  .missing-url {
    margin-top: -6vh;
  }
}